/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

$baseColor: #2ca76b;

$baseFont: 1rem;
$height:24px;

body {
  background-color: #f3f3f3;
}
