
<div class="notification wrapper w-full text-center">
  <div *ngIf="AuthUser.pending_req.length !== 0" class="alert"><p>{{AuthUser.pending_req.length}}</p></div>
  <i class="fas {{class.icon}}"></i>
  <div [ngClass]="class.status ? 'block' : 'hidden'"  class="dropdown absolute text-sm font-medium p-2 shadow-xl">
    <ul class="notification list-items relative">

      <li *ngIf="AuthUser.pending_req.length <= 0">
        <p>No new messages, get some friends</p>
      </li>

      <li *ngFor="let request of AuthUser.pending_req">
        <app-alert-requested [request]="request"></app-alert-requested>
      </li>

    </ul>
  </div>
</div>
