@import "../../../styles";

nav {
 // height: $height * 2.6;
  .navbar {
    &.left {
      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size:calc(#{$baseFont} * 1.5);
        display: inline-block;
      }
      background-color: $baseColor;
    }
  }
}
