<app-navbar></app-navbar>
<main class="grid grid-cols-12">
  <div class="image-wrapper col-span-12 md:col-span-4 mt-5">
    <div [style.background-image]="'url(' + person.picture + ')'" class="friend image">
    </div>
  </div>


  <div class="wrapper information col-span-12 md:col-span-8 p-5">
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6">

            <div class="col-span-6 sm:col-span-3">
              <h2>{{person.fname}} {{person.lname}}</h2>{{person.age}}
            </div>

            <div class="col-span-6 sm:col-span-3">
              Phone: {{person.phone}}<br>
              Email: {{person.email}}
            </div>

            <div class="col-span-6 sm:col-span-3">
              My Favourite language is:<br>
              {{person.language}}
            </div>

            <div class="col-span-6 sm:col-span-3">
              Do I like chicken?<br>
              {{person.chicken}}
            </div>

            <div class="col-span-6 sm:col-span-6">
              Some facts about me:<br>
              {{person.biography}}
            </div>
          </div>
        </div>
        <div *ngIf="person.email === AuthUser.email " class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <button (click)="rmPerson(person._id)" type="submit"
                  class="m-2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Delete
          </button>
          <a [routerLink]="['/edit',person.email]">
            <button type="submit"
                    class="m-2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Edit
            </button>
          </a>
        </div>
        <div>
          <app-button *ngIf="person.email !== AuthUser.email " (click)="requestFriend(person.email)"
                      [button]="button"></app-button>
        </div>
      </div>
    </div>
  </div>
</main>
