@import "../../../styles";
main {
  .title {
    h2 {
      padding-top: 1.5rem;
      color: $baseColor;
      font-size: calc(#{$baseFont} * 1.1);
      font-weight: normal;
    }
  }

  button {
    margin-top: 15px;
    border-radius: 25px;
    color:white;
    width: 50px;
    height: 50px;
    background-color: #d9d9d9;
    transition: 0.2s;
    font-size: calc(#{$baseFont} * 1.1);
    font-weight: normal;

    &:after {
      display: none;
      content:" add new contact";
      transition: 1s;
    }

    &:hover {
      width: 200px;
      background-color: $baseColor;
      &:after {
        display: inline-block;
        content:" add new contact";
      }
    }
  }
}
