<app-navbar></app-navbar>
<main class="grid grid-cols-12 gap-4 px-5">
  <div class="title col-span-12">
    <h2>You are Logged in As:</h2>
  </div>

  <div class="col-span-12">
    <a [routerLink]="['/friend',AuthUser.email]">
      <app-cards [person]=person></app-cards>
    </a>
  </div>
  <button (click)="testbutton()">Testbutton</button>

  <!--
   <div class="title col-span-12">
     <h2>Your Friends</h2>
   </div>


   <div *ngFor="let person of allPersons" class="col-span-12 md:col-span-6 lg:col-span-6">
     <a [routerLink]="['/friend',person.email]">
       <app-cards [person]=person></app-cards>
     </a>
   </div>-->


  <div class="title col-span-12">
    <h2>New On Only Friends</h2>
  </div>

  <div *ngFor="let person of allPersons" class="col-span-12 md:col-span-6 lg:col-span-6">
    <a [routerLink]="['/friend',person.email]">
      <app-cards [person]=person></app-cards>
    </a>
  </div>
</main>
